{% extends "base.html" %}
<!--
<!doctype html>
    {% load static %}
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Workspace Embratel">
            <title>Workspace</title>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        </head>
        <body>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/Workspace_Group_logo.svg/1280px-Workspace_Group_logo.svg.png">
                </div>
            </div>
        </body>
    </html>-->


{% block content %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Atividades Pendentes</h4>
                      {% for gmud in gmud_objects %}
                      {% if gmud.status == 1 %}
                    <div class="d-flex py-2 border-bottom">
                      <div class="wrapper">
                        <small class="text-muted">{{gmud.data}}</small>
                        <p class="font-weight-semibold text-gray mb-0">{{gmud.titulo}}</p>
                      </div>
                      <small class="text-muted ml-auto">{{gmud.get_status_display}}</small>
                    </div>
                      {% endif %}
                      {% endfor %}
                    <a class="d-block mt-5" href="{% url 'gmud_list' %}">Show all</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Para Hoje</h4><br>
                      {% for gmud in gmud_objects %}
                      {% if gmud.data.day == today.day and gmud.status <= 3 %}
                      <div class="row row-striped">
			            <div class="col-10">
				            <h3 class="text-uppercase"><strong>{{ gmud.titulo }}</strong></h3>
				            <ul class="list-inline">
					            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ gmud.hora }} </li>
				            </ul>
				            <p>{{ gmud.resumo }}</p>
			            </div>
		            </div>
                      {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Aniversariantes do Mês</h4><br>

                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Ultimas Postagens</h4><br>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}