{% extends "base.html" %}
{% block content %}
<div id="content" class="site-content">
        		<div id="content-inside" class="container no-sidebar">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main">



<article id="post-110" class="post-110 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->

	<div class="entry-content">
		<p>&nbsp;</p>
<table width="819">
<tbody>
<tr>
<td style="text-align: center;" width="127"><strong><span style="color: #000000;">HOSTNAME</span></strong></td>
<td style="text-align: center;" width="108"><strong><span style="color: #000000;">REDE PRODUÇÃO</span></strong><br>
<strong><span style="color: #000000;">VLAN ID: 1680</span></strong><br>
<strong><span style="color: #000000;">NETWORK: 10.201.1.0/25</span></strong><br>
<strong><span style="color: #000000;">SUBMASK: 255.255.255.128</span></strong><br>
<strong><span style="color: #000000;">GATEWAY: 10.201.1.3</span></strong></td>
<td style="text-align: center;" width="96"><strong><span style="color: #000000;">REDE GERENCIA</span></strong><br>
<strong><span style="color: #000000;">VLAN ID: 1176</span></strong><br>
<strong><span style="color: #000000;">NETWORK: 10.24.24.128/25</span></strong><br>
<strong><span style="color: #000000;">SUBMASK: 255.255.255.128</span></strong><br>
<strong><span style="color: #000000;">GATEWAY: 10.24.24.131</span></strong></td>
<td style="text-align: center;" width="163"><strong><span style="color: #000000;">REDE BACKUP</span></strong><br>
<strong><span style="color: #000000;">VLAN ID: 1737</span></strong><br>
<strong><span style="color: #000000;">NETWORK:</span></strong><br>
<strong><span style="color: #000000;">SUBMASK:</span></strong><br>
<strong><span style="color: #000000;">GATEWAY:</span></strong></td>
<td style="text-align: center;" width="197"><strong><span style="color: #000000;">SISTEMA OPERACIONAL</span></strong></td>
<td style="text-align: center;" width="128"><strong><span style="color: #000000;">OBS.</span></strong></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">2K12CAHUBSAGE01</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.110</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.201</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">APPGVP01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.23</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.196</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">APPGVP02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.24</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.197</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">BD01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.19</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.166</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MS SQL Server 2012</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">BD02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.20</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.167</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MS SQL Server 2012</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">BD03-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.34</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.168</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MS SQL Server 2012</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">BD04-1-7</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.41</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.169</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MS SQL Server 2012</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ESBC01-1-5</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.42</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.185</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LINUX REDHAT ENTERPRISE 6.6</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">Appliance Genesys</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ESBC02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.6</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.186</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LINUX REDHAT ENTERPRISE 6.6</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">Appliance Genesys</span></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ESERVICES01-4</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.32</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.170</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IP Virtual: 189.16.108.140</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ESERVICES02-2</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.61</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.171</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IP Virtual: 189.16.108.140</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">GCW01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.45</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.179</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LINUX REDHAT ENTERPRISE 6.6</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">GCW02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.46</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.180</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LINUX REDHAT ENTERPRISE 6.6</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">GCW03-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.47</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.181</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LINUX REDHAT ENTERPRISE 6.6</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">GIMETL01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.31</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.164</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">GIMETL02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.33</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.165</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IRSC01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.48</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.172</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IRSC02-1-3</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.57</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.173</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IRSC03-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.66</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.174</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">IRSC04-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.67</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.175</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">M-CPD01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.64</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.195</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MFOGL01-1-2</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.5</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.183</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MFOGL02-1-5</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.10</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.184</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">M-MOH01-1-2</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.21</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.194</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MR01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.50</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.176</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MR02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.51</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.177</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MR03-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.52</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.178</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">MR04-1-1</span></td>
<td style="text-align: center;"><span style="color: #000000;">10.201.0.53</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.182</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">M-URA01-1-3</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.17</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.193</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">REPORTP01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.25</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.160</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">REPORTP02-1-3</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.65</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.161</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">RM01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.9</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.189</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">RM02-1-2</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.15</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.190</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ROUT01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.13</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.191</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">ROUT02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.14</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.192</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">SIP01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.7</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.187</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.121</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">SIP02-1-2</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.12</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.188</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.121</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">Transcoding01</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.68</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.198</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">Transcoding02</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.69</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.199</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">UI01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.18</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.162</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">UI02-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.30</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.163</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">W2K12SGDC01</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.80</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">&nbsp;10.24.24.210</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">W2K12SGDC02</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.81</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">&nbsp;10.24.24.211</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">W2K12SGFS01</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.82</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">&nbsp;10.24.24.212</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.84 (Cluster)</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">W2K12SGFS02</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.83</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">&nbsp;10.24.24.213</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.86 (Cluster)</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
<tr>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">LFMT01-1-1</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.201.0.27</span></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">10.24.24.148</span></td>
<td style="font-weight: 400; text-align: center;"></td>
<td style="font-weight: 400; text-align: center;"><span style="color: #000000;">WINDOWS 2012 R2 STD</span></td>
<td style="font-weight: 400; text-align: center;"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
			</div><!-- .entry-content -->
</article><!-- #post-## -->




				</main><!-- #main -->
			</div><!-- #primary -->


		</div><!--#content-inside -->
	</div>
{% endblock %}