{% extends "base.html" %}
{% block content %}
<div id="content" class="site-content">
        		<div id="content-inside" class="container no-sidebar">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main">



<article id="post-161" class="post-161 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->

	<div class="entry-content">
		<div></div>
<div>
<table style="border-color: #000000; width: 804px; height: 725px;" border="0" width="918" cellspacing="0" cellpadding="0">
<colgroup>
<col width="124">
<col width="135">
<col width="90">
<col width="145">
<col width="101">
<col width="157">
<col width="166"></colgroup>
<tbody>
<tr style="border-color: #000000; background-color: #000000; border-style: solid;">
<td class="gmail-xl68" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="25"><span style="color: #ffffff;">Solução&nbsp;</span></td>
<td class="gmail-xl68" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #ffffff;">User/Owner&nbsp;</span></td>
<td class="gmail-xl68" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #ffffff;">BASE&nbsp;</span></td>
<td class="gmail-xl68" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #ffffff;">Servidores&nbsp;</span></td>
<td class="gmail-xl69" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #ffffff;">Tamanho Dados (GB)&nbsp;</span></td>
<td class="gmail-xl69" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #ffffff;">Tamanho Indices (GB)&nbsp;</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">FRW</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_cfg</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_cfg</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">FRW</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_lrm</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_lrm</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">10</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">FRW</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_log</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_log</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">10</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">FRW</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gax_cfg</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gax_cfg</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">GIR</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_sm_cfg</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_sm_cfg</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">10</span></td>
<td class="gmail-xl71" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">GIR</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_sm_rep</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_sm_rep</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD01-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">4</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">GVP RS</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gvp_rs</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gvp_rs</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD02-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">25</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">Infomart/GI2</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gim</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gim</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD02-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">660</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">160</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">Infomart/GI2</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gi2_config</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gi2_config</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD02-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,3</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,1</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">Infomart/GI2</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gi2_audit</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gi2_audit</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD02-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,4</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">FRW</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gax_pulse</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_gax_pulse</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">OCS</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ocs</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ocs</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_cfg_01</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_cfg_01</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_voice_01</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_voice_01</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_mm_01</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_mm_01</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_out_01</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_out_01</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_gir_01</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_gir_01</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">60</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">7</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">Pulse</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_pulse</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_pulse</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD03-1-1</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">1</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">E-Services</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ixn</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ixn</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,5</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">0,1</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">E-Services</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ucs</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ucs</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">E-Services</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ucs_arch</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_ucs_arch</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">2</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_cfg_02</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_cfg_02</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_voice_02</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_voice_02</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_mm_02</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_mm_02</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_out_02</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_out_02</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">20</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">5</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl70" style="width: 117px; height: 25px; border-style: solid; border-color: #000000;" height="22"><span style="color: #000000;">ICON</span></td>
<td class="gmail-xl70" style="width: 134px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_gir_02</span></td>
<td class="gmail-xl70" style="width: 135px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">gen_idb_gir_02</span></td>
<td class="gmail-xl70" style="width: 133px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">BD04-1-7</span></td>
<td class="gmail-xl67" style="width: 130px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">60</span></td>
<td class="gmail-xl67" style="width: 141px; height: 25px; border-style: solid; border-color: #000000;"><span style="color: #000000;">7</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl72" style="width: 800px; height: 25px; border-style: solid; border-color: #000000;" colspan="6" height="21"><span style="color: #000000;">Acima está apresentado o sizing estimado para este projeto</span></td>
</tr>
<tr style="height: 25px;">
<td class="gmail-xl72" style="width: 800px; height: 25px; border-style: solid; border-color: #000000;" colspan="6" height="21"><span style="color: #000000;">MS SQL Server 2012 – Standard Edition</span></td>
</tr>
</tbody>
</table>
</div>
<div></div>
<div></div>
			</div><!-- .entry-content -->
</article><!-- #post-## -->




				</main><!-- #main -->
			</div><!-- #primary -->


		</div><!--#content-inside -->
	</div>
{% endblock %}