{% extends 'base.html' %}
{% block content %}
<div class="main-panel">
<tbody>
<table class="table" id="gmudTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)"><strong><span>Id</span></strong></th>
        <th onclick="sortTable(1)"><strong><span>Titulo</span></strong></th>
        <th onclick="sortTable(2)"><strong><span>Cliente</span></strong></th>
        <th onclick="sortTable(4)"><strong><span>Data de Execução</span></strong></th>
        <th onclick="sortTable(5)"><strong><span>Data de Criação</span></strong></th>
        <th onclick="sortTable(6)"><strong><span>Status</span></strong></th>
        <th onclick="sortTable(7)"><strong><span>Ações</span></strong></th>
    </tr>
    </thead>
    {% for gmud in object_list %}
    <tr>
        <td><strong><span>{{gmud.id}}</span></strong></td>
        <td style="white-space: pre-wrap;"> {{ gmud.titulo }}</td>
        <td> {{ gmud.get_cliente_display }}</td>
        <td> {{ gmud.data.day }}/{{ gmud.data.month }}/{{ gmud.data.year }} às {{ gmud.hora }}</td>
        <td style="white-space: pre-wrap;"> {{ gmud.datacriacao.day }}/{{ gmud.datacriacao.month }}/{{ gmud.datacriacao.year }} às {{ gmud.datacriacao.time }}</td>
        {% if gmud.status == 1 %}
            <td> <label class="badge badge-warning"> {{ gmud.get_status_display }} </label></td>
        {% elif gmud.status == 2 %}
            <td> <label class="badge badge-primary"> {{ gmud.get_status_display }} </label></td>
        {% elif gmud.status == 3 %}
            <td> <label class="badge badge-success"> {{ gmud.get_status_display }} </label></td>
        {% elif gmud.status == 4 %}
            <td> <label class="badge badge-danger"> {{ gmud.get_status_display }} </label></td>
        {% else %}
            <td> <label class="badge badge-secondary"> {{ gmud.get_status_display }} </label></td>
        {% endif %}
        <td><button class="btn btn-outline-primary" onclick="window.location.href = '{% url 'gmud_view' gmud.id %}'">Info</button>
        <button class="btn btn-outline-warning" onclick="window.location.href = '{% url 'gmud_update' gmud.id %}'">Atualizar</button>
        {% if gmud.status >= 4 %}
            <button class="btn btn-outline-success" disabled onclick="window.location.href = '{% url 'gmud_delete' gmud.id %}'">Finalizado</button></td>
        {% else %}
            <button class="btn btn-outline-secondary" onclick="window.location.href = '{% url 'gmud_delete' gmud.id %}'">Finalizar</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</tbody>
</div>


<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("gmudTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}